.THIS .slds-col .ui-widget {
   margin: 16px 0;
}
.THIS .slds-col.content {
   width: 1140px;
}
.THIS .active-anchor{
    background: linear-gradient(98.18deg, #662385 0%, #1D7DA4 67.24%, #02C8C8 100%);
	border-radius: 60px;
    height:40px;
}