/* @Simplus VEN-170: New Navbar */
/* Custom Fonts - start - */
@font-face {
    font-family: "Suisse Int'l";
    src: url('/resource/Fonts/Suisse/SuisseIntl-Light.ttf') format('TrueType');
}

@font-face {
    font-family: "Caxton Bk Bt";
    src: url('/resource/Fonts/Caxton/caxton.ttf') format('TrueType');
}

/* Custom Fonts - end - */

button {
    background-color: transparent;
    width: auto;
    padding: 0 6px;
    font-size: 17px;
    outline: none;
    border: none;
    color: #fff;
}

button svg {
    fill: #FFF;
}

.user-action-menu-dropdown {
    width: 100%;
    background-color: #0f141e;
    border: none;
    padding: 11px 0px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    right: 0;
    left: auto;
    width: 100%;
    top: 37px;
    min-width: 184px !important;
    float: none;
    transform: none;
    margin: 0;
    color: var(--secondary-text-color);

}

/* .user-action-menu-dropdown ul li a {
    color: #FFF;
    font-family: "Suisse Int'l" !important;
} */

.user-action-menu-dropdown ul li a .menu--item {
    color: var(--secondary-text-color);
}

.user-action-menu-dropdown ul li a .menu--logout {
    color: var(--secondary-text-color);
}

/* Ven 127 - 4/11 added span */
/* .user-action-menu-dropdown ul li.menu-item a span { */
/* Font change 11/4 */
/* font-family: "Suisse Int'l" !important;
} */

.user-action-menu-dropdown ul li a img {
    width: 28px;
    height: 32px;
    margin-right: 10px;
    object-fit: none;
}

/* Ven 127 - 4/11 commented out the background replaced with new */
.user-action-menu-dropdown ul li.menu-item:hover {
    /* background: linear-gradient(98.18deg, #662385 0%, #1d7da4 33.9%, #02c8c8 100%); */
    background: #D95BAA;
}

.user-action-menu-dropdown ul li.item--logout a span {
    padding: 10px;

}

.user-action-menu-dropdown ul li.item--logout a:hover {
    border-color: #d95baa;
    background-color: #d95baa;
}

/* Ven 127 - 4/11 commented out the font-family*/
.user-action-menu-dropdown ul li.item--logout a {
    border-radius: 30px;
    width: 80%;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    text-align: center;
    margin: auto;
}

.user-action-menu-dropdown ul li.user-action-menu-dropdown a span {
    display: block;
    text-align: center;
    width: 100%;
}

span.slds-truncate.menu--item {
    display: flex;
    gap: var(--space-md);
    align-items: center;
}

/* Re-styling */

ul.slds-dropdown__list.actionMenu {
    display: flex;
    flex-direction: column;
}

span.username {
    text-align: left;
    padding: var(--lwc-spacingXSmall, 0.5rem) var(--lwc-spacingSmall, 0.75rem);
}