.investment-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    justify-content: center;
    max-width: 84em;

    align-items: stretch;
    gap: var(--space-lg);
}

.product-container {
    padding-block: var(--space-lg);
    display: flex;
    row-gap: var(--space-xl);
    flex-direction: column;
    align-items: center;
}


@media (width >= 0px) and (width <= 1012px) {
    .investment-wrapper {
        grid-template-columns: 1fr;
    }
}