.form-desc{
    font-family: "SuisseIntl-light";
    padding-top: var(--space-md);
}


c-core-input, c-core-radio, c-core-checkbox {
    padding: var(--space-md);
}

c-core-checkbox{
    display: flex;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(2, 50% [col-start]);
}

.inputs-nocol{
    display: flex;
    flex-direction: column;
}

.address-inputs {
    display: flex;
    flex-direction: column;
}

.sub-details {
    display: flex;
}

.address-inputs c-core-input {
    flex: 1;
}

.address-inputs c-core-input.suburb{
    flex: 3
}

.address-inputs c-core-input.state{
    flex: 2
}

.address-inputs c-core-input.postcode{
    flex: 1
}

.horizontal-radio{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--space-md);
}

.input-label p {
    display: inline;
    margin-right: 5px;
    font-family: 'SuisseIntl-Medium';
}


.alert-container{
    margin: auto;
    padding: 0 var(--space-lg);
}

.info-container{
    padding: var(--space-md);
}

.info-container .field-title p{
    display: inline;
    margin-right: 5px;
    font-family: 'SuisseIntl-Medium';
}

.info-container p{
    margin-top: var(--space-md);
    font-family: "SuisseIntl-light";
}

.information-text-body {
    border-radius: 8px;
    border: 1px solid var(--Portal-Grey, #939393);
    background: #FFF;
    padding: var(--space-md);
}

.loading-spinner{
    position: relative;
    display: flex;
    width: 100vw;
    height: 80vh;
    margin: auto;
    text-align: center;
}

c-core-alert{
    padding: var(--space-md);
}

.team-member-body-slot{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

p.help-text{
    font-family: "SuisseIntl-Light";
    font-size: var(--text-base-size);
    padding: 0 var(--space-md);
    margin: 0;

}

p.help-text.bold {
    font-family: "SuisseIntl-Medium";
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: auto;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .modal-text a{
    color: var(--tertiary-accent);
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .encouragement-popup .modal-content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: var(--space-xxl);
    justify-content: center;
    align-items: center;
    gap: var(--space-lg);
}

.encouragement-popup img {
    max-width: 50%;
}

.encouragement-popup p.title {
    font-size: var(--text-xl);
    font-family: 'SuisseIntl-Medium';
}

.encouragement-popup p {
    font-family: 'SuisseIntl-Light';
    text-align: center;
}

.encouragement-popup .modal-text {
    max-width: 70%;
}

/* Help texzt */

.help-text p, .help-text, .help-text a{
    margin: var(--space-xs) 0;
    font-family: "SuisseIntl-Light";
    font-size: var(--text-base-size);
}