/* #vc_content__container section.hero {
    min-height: calc(100vh - 300px)
} */

.vc_content__container section {
    min-height: calc(100vh - 300px)
}

/* #vc_content__container section.hero h1 {
    font-size: 2.85em;
    font-family: gilroyregular
} */

.vc_content__container section h1 {
    font-size: 2.85em;
    font-family: gilroyregular
}

@media screen and (max-width:768px) {
    #vc_content__container section.hero h1 {
        font-size: 1.65em
    }
}

#vc_content__container section.hero p {
    color: #999;
    line-height: 1.75em;
    font-size: 1.05em
}

.vc_content__container section.hero a {
    padding: 10px 40px
}

@media screen and (max-width:768px) {
    #vc_content__container section.hero a {
        padding: 10px 28px
    }
}

#vc_content__container section.offers .offer-container .inner-container {
    border-radius: 15px;
    overflow: hidden;
    transition: all .3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .105)
}

#vc_content__container section.offers .offer-container .inner-container:hover {
    box-shadow: 0 10px 38px rgba(0, 0, 0, .119701)!important
}

#vc_content__container section.offers .offer-container .heading {
    background-image: linear-gradient(90deg, #5d3796, #02c8c8);
    font-size: 1.1rem;
    text-transform: uppercase
}

#vc_content__container section.offers .offer-container .hero {
    min-height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%
}

#vc_content__container section.offers .offer-container .details {
    border-bottom: 1px solid #eaeaea
}

#vc_content__container section.offers .offer-container .details .heading-1 {
    font-size: 1.2em
}

#vc_content__container section.offers .offer-container .details .heading-2 {
    font-size: 1.15em
}

#vc_content__container section.offers .offer-container .call-to-action .header {
    font-size: 1.1em;
    font-family: gilroysemibold
}

#vc_content__container section.offers .offer-container .call-to-action .status {
    text-transform: uppercase;
    font-family: gilroysemibold;
    letter-spacing: 1px;
    font-size: .8em
}

#vc_content__container section.offers .offer-container .call-to-action .status.status-raising {
    color: #844cea
}

#vc_content__container section.offers .offer-container .call-to-action .status.status-funded {
    color: #000
}

#vc_content__container section.offers .offer-container .call-to-action .offer-type {
    font-size: .9em
}

#vc_content__container section.offers .offer-container .call-to-action a {
    background-color: #844cea;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .11);
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-family: gilroysemibold
}

#vc_content__container section.funded .heading h2 {
    color: #672c8d;
    background: linear-gradient(to bottom right, #672c8d, #29bec1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    #vc_content__container section.funded .heading h2 {
        background: none!important
    }
}


/*# sourceMappingURL=/page-invest.css.map */