/*Font Family Reusable Classes*/

.vc-font-caxtonRegular {
    font-family: 'Caxton-Regular';
}

.vc-font-caxton1 {
    font-family: 'Caxton-1 ';
}

.vc-font-caxton2 {
    font-family: 'Caxton-2 ';
}

.vc-font-caxton3 {
    font-family: 'Caxton-3 ';
}

.vc-font-caxton4 {
    font-family: 'Caxton-4 ';
}

.vc-font-caxton5 {
    font-family: 'Caxton-5 ';
}

.vc-font-caxton6 {
    font-family: 'Caxton-6 ';
}

.vc-font-caxton7 {
    font-family: 'Caxton-7 ';
}

.vc-font-caxton8 {
    font-family: 'Caxton-8 ';
}

.vc-font-caxton9 {
    font-family: 'Caxton-9 ';
}

.vc-font-caxton10 {
    font-family: 'Caxton-10 ';
}

.vc-font-caxton11 {
    font-family: 'Caxton-11 ';
}

.vc-font-caxtonLight {
    font-family: 'Caxton-Light ';
}

.vc-font-suisseIntlRegular {
    font-family: 'SuisseIntl-Regular ';
}

.vc-font-suisseIntlBold {
    font-family: 'SuisseIntl-Bold ';
}

.vc-font-suisseIntlLight {
    font-family: 'SuisseIntl-Light ';
}